$FActivePanelReceiver#UserBoxPanel
	:ListenOn OnLogin,OnLogout
	:CssClass= $this->CssClass
	$TControl#LoginName
		$THyperLink
			:Text= $this->User->Name
		%br
	$THyperLink#LoginLink
		:Text~ Přihlásit
	$TLinkButton#LogoutLink
		:Text~ Odhlásit
		:OnCommand LogoutButtonClicked
	%br
	$THyperLink#RegisterLink
		:Text~ Registrace
	$THyperLink#AccountLink
		:Text~ Můj účet
	%br 
$FWidgetControl#MetaData:=
	properties:
		-	afterlogoutpageid
		-	loginpageid
		-	registerpageid
		-	accountpageid
	fields:
		-	fieldLabel: <%= $this->MetaData->getRecord()->name %> / <%[Login Page]%>
			name: <%= $this->MetaData->getFieldName('loginpageid') %>
			editor:
				xtype: textfield
				allowBlank: true
				width: 200
		-	fieldLabel: <%= $this->MetaData->getRecord()->name %> / <%[After Logout Page]%>
			name: <%= $this->MetaData->getFieldName('afterlogoutpageid') %>
			editor:
				xtype: textfield
				allowBlank: true
				width: 200
		-	fieldLabel: <%= $this->MetaData->getRecord()->name %> / <%[Register Page]%>
			name: <%= $this->MetaData->getFieldName('registerpageid') %>
			editor:
				xtype: textfield
				allowBlank: true
				width: 200
		-	fieldLabel: <%= $this->MetaData->getRecord()->name %> / <%[Account Page]%>
			name: <%= $this->MetaData->getFieldName('accountpageid') %>
			editor:
				xtype: textfield
				allowBlank: true
				width: 200
