.x-wtc-link-btn {

	 cursor:pointer; 
	 height:16px; 
	 width:16px;
}
	 
.x-wtc-link-btn-div {

	width : 16px;
	 height:16px;
}

.x-wtc-link-btn-over .x-wtc-link-btn-div .x-wtc-link-btn {
	
	opacity:1;
}

.x-wtc-link-btn-over .x-wtc-link-btn {

	opacity:1;
}

.x-wtc-img-btn {

	margin-right: 4px;
}