$FActivePanelReceiver#UserLoginForm
	:ListenOn OnViewChanged,OnLogin,OnLogout
	:CssClass= $this->CssClass
	$TMultiView#View{ ActiveViewIndex='000' }
		$TView#LoginView
			%p~ Zadejte, prosím, přihlašovací jméno nebo email.
			%p~ Na registrovaný email Vám budou zaslány přihlašovací údaje.
			%br
			%div.objednavkaForm.middle
				%table
					%tr
						%th~ Přihlašovací jméno nebo email:
						%td
							$TTextBox#Username.textBox
								:Columns 30
								:Text= $this->Username->SafeText
							$TRequiredFieldValidator
								:ControlToValidate Username
								:Text *
								:EnableClientScript false
								:ErrorMessage~ Zadejte přihlašovací jméno nebo email
								:ValidationGroup LoginData
								:Display Fixed
			%div.standardForm.centered
				$TValidationSummary#Summary.valError
					:AutoUpdate true
					:EnableClientScript false
					:ValidationGroup LoginData
			$TActiveButton.buttLogin
				:Text~ Odeslat
				:ValidationGroup LoginData
				:OnClick loginButtonClicked
				:OnCallback forgotButtonClicked
		$TView#SuccessView
			%p
				%span~ Na registrovaný email Vám byly zaslány přihlašovací údaje.
			%p
				%span~ Můžete pokračovat&nbsp;
				$THyperLink
					:Text~ zde.
					:NavigateUrl= $this->Page->getContainer($this->AfterLogoutPageID)->Href
		$TView#LoggedInView
			%h2
				%span~ Jste již přihlášeni jako&nbsp;
				%span= $this->User->Name
			$TActiveLinkButton#LogoutLink
				:Text~ Odhlásit
				:OnClick LogoutButtonClicked
				:OnCallback LogoutButtonClicked
			%p
				%span~ Můžete pokračovat&nbsp;
				$THyperLink
					:Text~ zde.
					:NavigateUrl= $this->Page->getContainer($this->AfterLogoutPageID)->Href
		$TView#FailureView
			%p
				%span~ Jméno resp. heslo, které jste zadali, není v naší databázi.
			%p
				%span~ Můžete zkusit znovu&nbsp;
				$THyperLink
					:Text~ zde.
					:NavigateUrl= $this->Page->getContainer('Zapomen%heslo')->Href
		$TView#Failure2View
			%p
				%span~ Omlouváme se, ale došlo k chybě při odesílání emailu<.
			%p
				%span~ Můžete pokračovat&nbsp;
				$THyperLink
					:Text~ zde.
					:NavigateUrl= $this->Page->getContainer($this->AfterLogoutPageID)->Href
$FWidgetControl#MetaData:=
	properties:
		-	afterlogoutpageid
	fields:
		-	fieldLabel: <%= $this->MetaData->getRecord()->name %> / <%[After Logout Page]%>
			name: <%= $this->MetaData->getFieldName('afterlogoutpageid') %>
			editor:
				xtype: textfield
				allowBlank: true
				width: 200
