%div{ class=`$this->cssClass` }
	%h1~ Registrace se nezdařila 
	%h3~ Vaše registrace NEBYLA dokončena. 
	%br
	%p
		~ Zkuste znovu nebo kontaktujte administrátora 
		$THyperLink
			:Text= $this->Application->Parameters['siteAdmin']
			:NavigateUrl= $this->Application->Parameters['siteAdmin'] 
